* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* filter: drop-shadow(0 0 1px rgb(255, 252, 209)); */
}

html {
    background-color: rgb(9,24,51);
}

#body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    color:rgb(234,0,217);
    filter: drop-shadow(1px 1px 0px rgb(10,189,198));

}

#banner {
    width: 100%;
    height: 120px;
    background-color: rgb(10,189,198);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

#wordColumn {
    flex: 0 1 250px;
    height: 600px;
    border: 4px solid rgb(234,0,217);
    text-align: center;
}

#gameColumn {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 500px;
}

#gameHead {
    background-color: rgb(19,62,124);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 100px;
    border-top: 4px solid rgb(234,0,217);
    border-bottom: 4px solid rgb(234,0,217);
}

#gamespace {
    flex: 500px ;
    background-color: rgb(113,28,145);
    border-bottom: 4px solid rgb(234,0,217);
    position: relative;
}

#settings {
    color: rgb(10,189,198);
    flex: 0 1 250px;
    border: 4px solid rgb(234,0,217);
    text-align: center;
    height: 600px;
}

#themes, #difficulty {
    padding:5px;
    align-self: center;
    position: relative;
}

#new-words, input {
    padding: 5px;
    position: relative;
}

#select-wordlist{
    padding: 10px;
    position: relative;
}

#scoreboard, #timer {
    background-color: rgb(10,189,198); 
    height:40px;
    width:70px;
    text-align:center;
    float:left;
    border-bottom: 3px solid rgb(234,0,217);
}

#scoreboard {
    border-right: 3px solid rgb(234,0,217);
}

#timer {
    float:right;
    border-left: 3px solid rgb(234,0,217);
}

li {
    text-align:left;
    color: rgb(10,189,198);
}

.tiles {
    border: 2px solid black;
    flex: 0 1 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

#gameHead .tiles {
    border-color:rgb(10,189,198);
    color:rgb(10,189,198);
    filter: drop-shadow(0 0 6px white);
}

#charTile {
    position: absolute;
    filter: drop-shadow(0 0 2px rgb(154, 250, 255));
    color: rgb(129, 226, 255);
    border-color: rgb(154, 250, 255);
}

.snake {
    background-color: rgb(154, 250, 255);
    position: absolute;
}

#endgame {
    display:flex;
    margin-left:3px;
    margin-top:100px;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    height:250px;
    width:400px;
    border: 4px solid rgb(234,0,217);
    background-color: rgb(245, 205, 141);
    opacity: 0.75;
    padding: 70px 0;
    z-index:7;
}

.final {
    height:40px;
    background-color:rgb(255, 241, 219);
    padding:10px 5px 15px
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(19,62,124);
    border: none;
    color: white;
    padding: 4px;
    text-decoration: none;
    text-align:center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

input {
    opacity:1.0;
    width: 100px;
    background-color: rgb(10,189,198);
}

#banner > div {
    flex: 0 1 70px;
    height: 70px;
    font-size: 40px;
    margin: 4px;
    transition: transform .5s;
}

#banner > div:hover {
    transform: scale(1.3);
}

@media (max-width: 660px) {
    #wordColumn {
        display: none;
    }

    #banner > div {
        font-size: 30px;
        margin: 2px;
        height: 60px;
    }

    #gameHead {
        flex: 0 0 70px;
    }

    #gameColumn {
        border-left: 4px solid rgb(234,0,217);
    }
}

@media (max-width: 810px) {
    #settings {
        display: none;
    }
    #gameColumn {
        border-right: 4px solid rgb(234,0,217);
    }
}

button:hover,  input + input:hover, select:hover {
    cursor: pointer;
}

.startBtn {
    cursor: pointer;
    animation: bounce 6s infinite;
    border-color:rgb(10,189,198);
    color:rgb(10,189,198);
    filter: drop-shadow(0 0 6px white);
    transition: transform .2s;
}

@keyframes bounce {
    0%, 100% {
      transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
      }
}

.startBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
    filter: drop-shadow(0 0 2px white);
}

select {
    background-color:rgb(10,189,198);
}

::placeholder {
    color: black;
  }