#gamespace {
    height:600px;
    width: 500px;
    background-color: powderblue;
    position: static;
    border: 3px solid #73AD21;
    top:60px;
    left: 300px;
    position:absolute;
}

#wordlist {
    height: 600px;
    width: 250px;
    top:60px;
    position: absolute;
    border: 3px solid #73AD21;
}
#snake {
    background-color: black;
    position: absolute;
}
#banner {
    text-align: center;
}

h4{
    text-align: center;
}

#themes{
padding:5px;
align-self: center;
position:relative;
}
#difficulty{
    padding:5px;
    align-self: center;
    position:relative;
    }

body {
    align-items:center;
}

#new-words{
    padding: 5px;
    position:relative;
}
input {
    padding: 5px;
}

#select-wordlist{
    padding: 10px;
    position:relative;
}

#worspeller{
    padding: 10px;
    color:darkslateblue;
    position:relative;
}

#scoreboard{
    padding: 5px;
    width:50px;
    background-color: rgb(144, 228, 144); 
    border: 10px;
    float: left;
}

#timer{
    padding: 5px;
    width: 50px;
    background-color: rgb(216, 141, 216);
    float: right; 
}

#settings{
    height: 600px;
    width: 250px;
    top:60px;
    left: 825px;;
    position: absolute;
    border: 3px solid #73AD21;
}