#gamespace {
    height:600px;
    width: 500px;
    background-color: powderblue;
    position: static;
    border: 3px solid #73AD21;
    top:60px;
    left: 300px;
    position:absolute;
}

#wordlist {
    height: 600px;
    width: 250px;
    top:60px;
    position: absolute;
    border: 3px solid #73AD21;
}
#snake {
    background-color: black;
    position: absolute;
}
h1 {
    text-align: center;
}

#buttons{
top: 670px;
align-self: center;
position:absolute;
}

body {
    align-items:center;
}

#new-words{
    padding: 10px;
}

#select-wordlist{
    padding: 10px;
}

#worspeller{
    padding:20px;
    color:darkslateblue;
}
